header{
    background-color: var(--color-em-2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 8px 2rem;
    position: fixed;
    width: 100%;
}
