@charset "UTF-8";

:root {
  --color-main: #19191C;
  --color-sec: #121212;
  --color-th: #e81cff;
  --color-em: #6B47D2;
  --color-gray: #717171;

  --font-main: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-main: #19191C;
    --color-sec: #121212;
    --color-th: #e81cff;
    --color-em: #6B47D2;
    --color-gray: #717171;
  
    --font-main: Arial, Helvetica, sans-serif;
  }
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  transition: color .4s, background-color .4s;
  font-family:
    Inter,
    -apple-system,
    'Arial'
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--color-sec);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray);
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--color-main);
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}
