@import url(./style/reset.css);
@import url(./style/header.css);
@import url(./style/main.css);
@import url(./style/footer.css);

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.center-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
}

.center-topic{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.geometric-background{
    background: radial-gradient(circle farthest-side at 0% 50%,
            #282828 23.5%,
            rgba(255, 170, 0, 0) 0) 21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,
            #2c3539 24%,
            rgba(240, 166, 17, 0) 0) 19px 30px,
        linear-gradient(#282828 14%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 85%,
            #282828 0) 0 0,
        linear-gradient(150deg,
            #282828 24%,
            #2c3539 0,
            #2c3539 26%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 74%,
            #2c3539 0,
            #2c3539 76%,
            #282828 0) 0 0,
        linear-gradient(30deg,
            #282828 24%,
            #2c3539 0,
            #2c3539 26%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 74%,
            #2c3539 0,
            #2c3539 76%,
            #282828 0) 0 0,
        linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0 #282828;
    background-size: 40px 60px;
}

.card-background{
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
}

.web-category{
    color: #E34C26;
}

.kt-category{
    color: #6B47D2;
}

.project-category{
    color: #f6ff00;
}

.second-project-category{
    color: #6B47D2;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 8px;
}
