@import url(./reset.css);

footer {
    background-image: url('../img/background/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer p {
    font-size: 1.4rem;
}

.footer-links{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links a{
    color: var(--color-gray);
    display: block;
    transition: .2s;
}

.footer-links a:hover{
    color: var(--color-em);
    scale: 1.05;
}

.footer-links a::before{
    margin-right: 8px;
    content: "\2192";
    font-size: .8em;
}

.contact{
    max-width: 300px;
}

.contact-content ul{
    display: flex;
    gap: 12px;
}

.icon-content {
    position: relative;
}

.icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--color-main);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.icon-content a img {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.icon-content a:hover img{
    filter: invert(100%);
}

.icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.icon-content a:hover .filled {
    height: 100%;
}

.icon-content a[data-social="linkedin"] .filled,
.icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.icon-content a[data-social="github"] .filled,
.icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.icon-content a[data-social="instagram"] .filled,
.icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.icon-content a[data-social="email"] .filled,
.icon-content a[data-social="email"]~.tooltip {
    background-color: #ED2024;
}