@import url(./reset.css);

header {
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    justify-content: space-between;
    background-color: var(--color-main);
    z-index: 1;
}

nav li {
    margin: 0 16px;
    list-style-type: none;
}

nav a {
    color: var(--color-gray);
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
    transition: .2s;
}

nav a:hover {
    scale: 1.1;
}

.logo,
.logo::before {
    background-size: 500%;
    background-clip: text;
    -webkit-background-clip: text;
}

.logo:hover,
.logo:hover::before {
    color: transparent;
    background-image: linear-gradient(to right, var(--color-em) 0% 50%, var(--color-th) 50% 100%);
    animation: loader 1.2s forwards;
}

.switch-theme {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color-gray);
}

.switch-theme .moon {
    position: absolute;
    animation: keyframes-fill .5s;
}

.switch-theme .sun {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

.switch-theme input:checked~.moon {
    display: none;
}

.switch-theme input:checked~.sun {
    display: block;
}

.switch-theme input { 
    opacity: 0;
    cursor: pointer;
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }
    75% {
        transform: rotate(25deg);
    }
}