@import url(./reset.css);

main{
    padding: 0 20px;
}

section {
    display: flex;
    padding: 20px;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

main p {
    text-indent: 1.2em;
    font-size: 1.2rem;
}

main a {
    color: var(--color-th);
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    transition: .2s;
}

main a:hover {
    text-decoration: none;
    color: var(--color-em);
    scale: 1.1;
}

.icon-img { 
    flex: .5;
}

.icon-img img {
    width: 100%;
}

.card {
    max-width: 480px;
    padding: 20px;
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all .6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
    rotate: 1deg;
}

.card img {
    width: 80%;
    margin: auto;
}

.card .categories span {
    background-color: var(--color-th);
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .85rem;
    border-radius: 50em;
}

.card>span,
.technologies-content span {
    font-weight: 600;
    color: var(--color-gray);
    margin-top: auto;
}

#projects,
#about {
    background-color: var(--color-sec);
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.carousel-content {
    display: flex;
    gap: 16px;
}

.technologies {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    gap: 20px;
}

.technologies-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.profile-card {
    display: flex;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
}

.profile-img {
    border-radius: 8px;
    border: 2px solid var(--color-em);
    overflow: hidden;
}

.profile-img img {
    height: 100%;
    width: 100%;
}

.profile {
    max-width: 750px;
}
