@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #19191C;
    --color-sec: #121212;
    --color-th: #e81cff;
    --color-em: #6B47D2;
    --color-gray: #717171;

    --font-main: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    color: white;
    background: var(--color-main);
    font-family: var(--font-main);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--color-sec);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray);
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--color-main);
}

header{
    padding: 20px 40px;
}

main,
footer{
    padding: 0 20px;
}

section {
    display: flex;
    padding: 20px;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

h1{
    color: var(--color-em);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    text-wrap: nowrap;
}

h1::before{
    content: "/";
    display: inline-block;
    scale: 1.3;
    letter-spacing: 8px;
}

h2{
    text-wrap: nowrap;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}
