@charset "UTF-8";

@import './style/reset.css';
@import './style/header.css';
@import './style/main.css';
@import './style/footer.css';

:root {
  --color-main: #19191C;
  --color-sec: #0d0015;
  --color-th-1: #e81cff;
  --color-th-2: #9D4EDD;
  --color-em-1: #6B47D2; 
  --color-em-2: #361969;
  --color-gray: #717171;

  --font-main: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  --custom-color: #7f8fa40d;
  min-height: 100vh;
  background-color: var(--color-sec);
  background-image: linear-gradient(0deg, transparent 20%, var(--custom-color) 20.3%, var(--custom-color) 21.7%, transparent 22%, transparent 70%, var(--custom-color) 70.3%, var(--custom-color) 71.7%, transparent 72%, transparent), 
                  linear-gradient(90deg, transparent 20%, var(--custom-color) 20.3%, var(--custom-color) 21.7%, transparent 22%, transparent 70%, var(--custom-color) 70.3%, var(--custom-color) 71.7%, transparent 72%, transparent);
  background-size: 120px 120px;
  background-attachment: fixed;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  font-family:
    'Poppins',
    -apple-system,
    Arial,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--color-sec);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray);
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--color-main);
}

a:focus, 
a:hover {
  outline: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center{
    display: flex;
    align-items: center;
}
