@import './style/reset.css';
@import './style/header.css';
@import './style/main.css';
@import './style/footer.css';

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center{
    display: flex;
    align-items: center;
}
